<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyPhongTro_10122399.Properties.Settings.QuanLyPhongTroConnectionString"
            connectionString="Data Source=LAPTOP-B8LC3QPR;Initial Catalog=QuanLyPhongTro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyPhongTro_10122399.Properties.Settings.QuanLyPhongTroTYNConnectionString"
            connectionString="Data Source=AY22ZYAM0M3F0HS\SQLEXPRESS;Initial Catalog=QuanLyPhongTroTYN;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>